$fontcolorsm: #fff;
$fontcolor: #424242;
$fontcolorlinks: #848484;
$fontsizsm: 17px;
$fontfamliy: 'Tajawal', sans-serif;
$fontfamliy2:  'El Messiri', sans-serif;
$fontfamliy3:  'Almarai', sans-serif;
$simplebackground: #f7f7f7;

;
// 
$padding: 25px 0 ;
$color-background: #FAFAFA;
$color-1: #0d4160;
$color-2: #fc624d;
$color-3: #d3d3d3;
$color-6: #f44336;
$backgroundcard: #f9f9f9;







